/*My additions to the "../assets/style.css" file. 
/**********************************************************************************************************************
*This file contains : 
*
***:root {} : with the theme buttons : Line 14-124 ; 
******body,footer, a, b, button, btn ; Line 14-124 ;
***edit mode : Line 128-145; 
***log form page "login.html" file : Line 149-206
***filter ("index.html" file) : Line 210-242
***Modal : Line 244-458;
******the main modal : Line 321-365;
******the add Photo modal : Line 366-458
**********************************************************************************************************************/
:root  {
    --green : #1D6154;
    --orange : #93532F;
    --grey : #A7A7A7;
    --blue-grey : #E8F1F6;
    --dark-blue : #306685; 
    --dark-blue-grey : #CBD6DC;
	--black : #3D3D3D;
    --bg : #FFFEF8;
    --shadow : rgba(0, 0, 0, 0.09);
}

body {
	background-color: var(--bg);
}
body>footer { 
    position: absolute;
    right: 0;
    margin: 0;
    vertical-align: unset;
}
footer {
	background-color: white;
	box-sizing: border-box;
    width: 95rem;
    height: 10dvh;
}

a {
	text-decoration: unset;
	color: inherited; 
    cursor: pointer;
    color: var(--black); 
}
a:hover {
    color:var(--green); 
}
a:active { 
    color: var(--orange);
}

b {
	font-weight: 700;
}

button {
    cursor : pointer;
}
/* default appearance for the buttons */
.btn {
	font-family: 'Syne';
    font-weight: 100;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 60px;
    
}
/* class associated with the .btn class */
.green {
    color: white;
    background-color: var(--green);	
    margin: 2em auto;
    width: 12rem;
    border: none;
	padding: 10px 2rem;
}
.btn-grey {
    color: white;
    background-color: var(--grey);	
    margin: 2em auto;
    width: 12rem;
    border: none;
	padding: 10px 2rem;
}
.btn-return {
    background-color: transparent;
	position: absolute; 
	border: none;
	left: 1rem; 
	top: 1rem;
	padding: 10px 2rem;
}
/* button only encountered on the modals, associated with the submit button at the bottom of each form */
.btn-modal {
    position: absolute;
    bottom : 3rem;
}
/* the "X" button from the modal, to close them and associated with AddEvent Listeners */
.btn-close-modal {
	background-color: transparent;
	position: absolute; 
	border: none;
	right: 1rem; 
	top: 1rem;
	padding: 10px 2rem;
}
.btn-close-modal> .material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' 0,
	'opsz' 20
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

/**********************************************edit-mode**********************************************************/
/* This is the banner which appears above the header once the user is logged in */
.edit-mode { 
    position : absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 3.69rem; 
    background-color: black;
    color: white; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
/* The introduction paragraphe of Sophie Bluel, which appears on the "index.html" file */
#introduction p { 
    width: 25.25rem;
}

/***********************************************************Login page*********************************************************
* Mise en forme du formulaire de connextion (adresse-mail, mot de passe, bouton de connexion)
*******************************************************************************************************************************/
/* form */
#login {
	display: flex;  
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	margin: auto; 
}
/* form elements */
#login h2{
	margin-bottom: 0;
}
#login form {
	text-align: left;
    height: 34rem;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	width: 25rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--shadow);
}
#login label {
	margin: 3em 0 0 0;
	font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 400;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px var(--shadow);
}

#login input[type="submit"] {
	width: 11.19rem;
}

#mdp {
	text-decoration: underline;
	margin: auto;
	text-decoration: underline;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}
/* The error message which appears whern the user is not successfully logged in */
#errorMsg {
    color: red;
    width: 24rem;
    padding: 0.8rem;
}


/***********************************************************FILTER*********************************************************/
.filter {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
}
/* the "tous" button, which show all the work. Function is toggled in the "filter.js" file */
.active {
    color: var(--bg);
    background-color: var(--green);	
    border: 1px solid var(--green);
    transition: .4s; 
    padding: 0.4rem 1.4rem;
}
/* default class of the filter button */
.filter-btn {
    color: var(--green);
    background-color: transparent;	
    border: 1px solid var(--green);
    transition: .4s; 
    padding: 0.4rem 1.4rem;
}
.filter-btn:focus {
	color: var(--bg);
    background-color: var(--green);	
    border: 1px solid var(--green);
}
/* format of the generated image in the <div class="gallery"></div>/portfolio */
.figureImg>img {
   max-width: 20rem;
   aspect-ratio: 304 / 407;
}

/***********************************************************MODAL*********************************************************/
/* modals are  JavaScript Generated. Go see the "modal.js" file for further informations */
/* /from the div mesProjets, where the edit button is generated */
#mesProjets { 
	display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    padding: 2.2rem 0 2.2rem 0 ;
}
/* the edit button which appears once the user is logged in */
.mes-projets-btn {
	background: transparent;
    font-family: 'Work Sans', sans-serif;
    border: none;
    margin-left: 1rem;
	padding: 10px 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    animation: ease-out;
    animation-duration: 300ms;
}

/* default appearance for the modal */
dialog {
	width: 21rem; 
	height: 43rem;
	border: none; 
	border-radius: 10px; 
    z-index: 20;
    order: 50; 
    box-shadow: 0px 4px 14px var(--shadow);
    position: absolute;
    top: 80vh;
}
/* appears with each modal (the mainModal and the AddPhoto one). It blacks out which is behind the modals (JavaScript generated) */
.overlayed {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    order : 10;
    z-index: 10;
}
/* default appearance fot both modals */
.modal {
    padding: 3rem 1rem .5rem 1rem;	
    width: 40rem;
    height: 43.5rem;
    z-index: 50;
}
.modal-content {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	text-align: center;
    padding: 2rem;
}
.modal-content> h1	{
	font-family: 'Work Sans';	
	margin-bottom: 30.5px;
	font-size: 26px;
    line-height: 30.5px;
	text-decoration: none;
	color: unset;
	font-weight: 400;
}
hr {
    width: 26.25rem;
    position: absolute;
    bottom: 8rem;
}
/*************************** gallert content for the first modal *******************************/
/* gallery content for the delete work modal (genererModalPhotos function) */
.gallery-content { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 30rem;
    width: 80%;
    overflow-y: scroll;
    padding: 2.5rem 1rem;
}

.gallery-content figure, .gallery-content img {
    width: 4.75rem; 
	aspect-ratio: 3 / 4;
}

.gallery-content:hover img:not(:hover) {
    opacity: 0.5;
}
/* delete button appearing on each photo and which allows each one to them to be deleted (deleteWork function) */
.delete-btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    border-radius: 2px;
    position: relative;
    top: -6rem;
    right: -2.8rem;
    border: none;
    z-index: 23;
}
.delete-btn>.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 12
}
/*************************Add photo Modal**********************************/
.add-photo-modal { 
    order : 21;
    display: flex; 
}
/* the div which contains the add file (img) submit button */
.add-img {
    width: 100%; 
    height: 10.55rem; 
    background-color: var(--blue-grey);
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}
#addPhoto { 
    display:flex; 
    flex-direction: column;
}

.addedPhoto {
    height: 10.55rem; 
}
.add-img>.material-symbols-outlined {
    font-size: 4.75rem; 
    color: var(--dark-blue-grey);
}
/* other element of the form addPhoto (function) */
.add-img> label { 
    background-color: var(--dark-blue-grey);
    padding: 0.6rem 1.5rem;
    border-radius: 60px;
    color: var(--dark-blue);
}
.add-img> p { 
    line-height: 20px; 
    font-size: 10px;
}
#addPhoto input  {
	height: 50px;
	width: 25rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--shadow);
    margin: 1rem 0 2rem 0;
}

#addPhoto input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    border-radius: 60px;
    color: white;
    background-color: var(--green);
    margin: 2em auto;
    width: 14rem;
    border: none;
    padding: 0.5rem 0rem;
    height: 2rem;
}
#addPhoto input[type="submit"]:disabled {
    background-color: var(--grey);
    border: none;
    padding: .5rem;
}

#categorie-listbox {
    height: 50px;
    width: 25rem;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px var(--shadow);
    margin: 1rem 0 2rem 0;
} 

#addPhoto label {
    line-height: 16.42px;
    text-align: left;
}

#addPhoto> hr {
    width: 420px;
}
.loading {
    cursor: wait; 
    filter: blur(2px);
    -webkit-filter: blur(2px);
}