/********************************************************************************************************************
********************************* My additions ******************************************************
**********************************************************************************************************************/
:root  {
    --green : #1D6154;
    --grey : #A7A7A7;
	--black : #3D3D3D;
    --bg : #FFFEF8;
    --shadow : rgba(0, 0, 0, 0.09);
}

body {
	background-color: var(--bg);
}

a {
	text-decoration: unset;
	color: inherited; 
    cursor: pointer;
}
b {
	font-weight: bolder;
}
button {
    cursor : pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

/***********************************************************Login page*********************************************************/
#login {
	display: flex;  
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	margin: auto; 
}

#login > * {
	text-align: center;
}
#login h2{
	margin-bottom: 0;
}
#login form {
	text-align: left;
    height: 34rem;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	width: 25rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px var(--shadow);
}
#login label {
	margin: 3em 0 0 0;
	font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 400;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px var(--shadow);
}

#login input[type="submit"] {
	width: 50%;
}

#mdp {
	text-decoration: underline;
	margin: auto;
	text-decoration: underline;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

body>footer { 
    position: absolute;
    right: 0;
    margin: 0;
    vertical-align: unset;
}
footer {
	background-color: white;
	box-sizing: border-box;
    width: 95rem;
    height: 10dvh;
}

/***********************************************************FILTER*********************************************************/
.filter {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
}
.active {
    color: var(--bg);
    background-color: var(--green);	
    border: 1px solid var(--green);
    transition: .4s; 
    padding: 0.4rem 1.4rem;
}
.filter-btn {
    color: var(--green);
    background-color: transparent;	
    border: 1px solid var(--green);
    transition: .4s; 
    padding: 0.4rem 1.4rem;
}
.filter-btn:focus {
	color: var(--bg);
    background-color: var(--green);	
    border: 1px solid var(--green);
    transition: .4s; 
    padding: 0.4rem 1.4rem;
}

/***********************************************************MODAL*********************************************************/
#mesProjets { 
	display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
}
.mes-projets-btn {
	background: transparent;
    border: none;
    margin-left: 1rem;
	padding: 10px 2rem;
    display: flex;
    align-items: center;
    animation: ease-out;
    animation-duration: 300ms;
}

.btn {
	font-family: 'Syne';
    font-weight: 100;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 60px;
}

.btn-close-modal {
	background-color: transparent;
	position: absolute; 
	border: none;
	right: 1rem; 
	top: 1rem;
	padding: 10px 2rem;
}
.btn-close-modal> .material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' 0,
	'opsz' 20
  }
  
.btn-green {
    color: white;
    background-color: var(--green);	
    margin: 2em auto;
    width: 12rem;
    border: none;
	padding: 10px 2rem;
}


dialog {
	width: 21rem; 
	height: 100%;
	border: none; 
	border-radius: 10px; 
    z-index: 20;
    box-shadow: 0px 4px 14px var(--shadow);
}

.overlay {
    content: "";
    background-color: var(--black);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 10;
}
.modal {
    padding: 3rem 1rem .5rem 1rem;	
    width: 40rem;
    height: 43.5rem;
    z-index: 50;
}
.modal-content {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	text-align: center;
}
.modal-content> h1	{
	font-family: 'Work Sans';	
	margin-bottom: 10px;
	font-size: 1.1rem;
	text-decoration: none;
	color: unset;
	font-weight: 400;
}
.modal-content hr {
    width: 70%;
}
.gallery-content { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30rem;
    width: 70%;
    padding: 2.5rem 1rem;
}
.gallery-content img { 
	width: 4.75rem; 
	aspect-ratio: 3 / 4;
}

.gallery-content:hover img:not(:hover) {
    opacity: 0.4;
}
.delete-btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    border-radius: 2px;
    position: relative;
    top: -6rem;
    right: -2.8rem;
    border: none;
    z-index: 23;
}

.delete-btn>.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 12
}

.btn-grey {
    color: white;
    background-color: var(--grey);	
    margin: 2em auto;
    width: 12rem;
    border: none;
	padding: 10px 2rem;
}
.btn-return {
    background-color: transparent;
	position: absolute; 
	border: none;
	left: 1rem; 
	top: 1rem;
	padding: 10px 2rem;
}